html, body
{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  height: 100%;
  width: 100%;
}

.main_frame {
	border: solid 1px black;
	width: 50%;
	height: 40%;
	margin: auto;
	margin-top: 5%;
}

.main_frame .title {
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-weight: bold;
	font-size: 20px;
	border-bottom: solid 1px black;
}

.main_frame .text {
	text-align: center;
	padding: 10%;

}